<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <h3 class="panel-title">Home</h3>
    </div>
    <div class="panel-body">
      <div class="col-sm-4">
        Choose starting point
        <select  class="form-control" ng-model="startPoint">
          <option ng-repeat="loc in listLocation.locations" value="{{ loc.code }}">{{loc.name}}</option>
        </select>
      </div>
      <div class="col-sm-6">
        <br/>
        <button class="btn btn-info" ng-click="showTimeTravel()">Show Minimum Time Travel & Route</button>
        &nbsp;&nbsp;
        <button class="btn btn-success" ng-click="refresh()">Refresh</button>
      </div>

      <br/>
      <div class="col-sm-12">
        <h4>Origin</h4>
        {{ timeAndRoute.origin[0] || '' }}
      </div>
      <hr>
      <br/><br/>
      <div class="col-sm-12">
        <h4>Destination</h4>
        <div class="col-sm-12" ng-repeat="destination in timeAndRoute.destinations">
          <div class="row">
            <div class="col-sm-10">
              {{ destination.end_address }}
            </div>

            <div class="col-sm-1">
              {{ destination.distance.text }}
            </div>

            <div class="col-sm-1">
              {{ destination.duration.text }}
            </div>
          </div>
          <hr/>
        </div>
      </div>

      <hr/>
      <br/><br/>
      <map id="map_canvas"></map>
    </div>
  </div>
</div>
