<!doctype html>
<html>
<head>
  <base href="/">
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Point Of Interest</title>
  <link rel="stylesheet" href="/css/vendor/bootstrap.css">
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlHz4aL3g8JtCB3Lz7LdvwIEaWXQeAUEs"></script>
</head>
<body ng-app="MyApp">
  <div ng-include src="'partials/header.html'"></div>
  <div ng-view></div>
  <div ng-include src="'partials/footer.html'"></div>
  <script src="/js/lib/jquery.js"></script>
  <script src="/js/lib/bootstrap.js"></script>
  <script src="/js/lib/angular.js"></script>
  <script src="/js/lib/angular-route.js"></script>
  <script src="/js/lib/satellizer.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers/location.js"></script>
  <script src="/js/controllers/home.js"></script>
  <script src="/js/services/location.js"></script>

</body>
</html>
